
<!-- <app-navbar></app-navbar> -->

<app-header></app-header>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Query</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>build</mat-icon>
           <span>Maintenance</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>work</mat-icon>
            <span>Management</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Reports</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
        
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
    </mat-sidenav-container>
