span{
    margin:10px;
}

mat-selection-list{
    border:1px solid;
    border-radius: 5px;
    margin:5px;
    max-height: 166px;
    height: 166px;
  overflow: auto;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content-reverse .mat-list-text, .mat-list-base .mat-list-item.mat-list-option .mat-list-item-content-reverse .mat-list-text, .mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content-reverse .mat-list-text, .mat-list-base .mat-list-option.mat-list-option .mat-list-item-content-reverse .mat-list-text{
    padding-right:0px !important;
}

.mat-list-base .mat-list-option{
font-size: 14px;
}