<div class="container">
  <mat-card>
    <div class="row">
<span>Choose Customers in List Box: </span>
      <mat-radio-group>
        <mat-radio-button value="1">All</mat-radio-button>
        <mat-radio-button value="2">My Customers</mat-radio-button>
        <mat-radio-button value="3">Customer Bring Ups</mat-radio-button>
        <mat-radio-button value="4">Account Bring Ups</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
        <span>Customer:</span>
        <mat-form-field appearance="outline" class="wd80">
            <mat-select  name="env" required ngModel>
              <mat-option *ngFor="let customer of customers" [value]="customer.value">
                {{customer.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
       
  </mat-card>

    </div>
    <app-filter></app-filter>