<div class="container">
    <mat-card>
      
      <div class="row">
          <span>AECN</span>
          <mat-form-field appearance="outline" class="wd80">
              <mat-select  name="env" required ngModel>
                <mat-option *ngFor="let aecn of aecnlist" [value]="aecn.value">
                  {{aecn.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
         
    </mat-card>
  
      </div>
      <app-filter></app-filter>