

    <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
    <mat-menu #fileMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="editMenu">Edit</button>
    <mat-menu #editMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="recordMenu">Record</button>
    <mat-menu #recordMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="toolsMenu">Tools</button>
    <mat-menu #toolsMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="favMenu">Favorite</button>
    <mat-menu #favMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="queryMenu">Query</button>
    <mat-menu #queryMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="maintenanceMenu">Maintenance</button>
    <mat-menu #maintenanceMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="userAdmMenu">User Administration</button>
    <mat-menu #userAdmMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="managementMenu">Management</button>
    <mat-menu #managementMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="reportMenu">Reports</button>
    <mat-menu #reportMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="preferenceMenu">Preferences</button>
    <mat-menu #preferenceMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>


    <!-- <button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
    <mat-menu #helpMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    &nbsp; -->


