<div class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Query Filter
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <div class="row full-width">
        
        
          <div class="wd18">
          <mat-selection-list #shoes [multiple]="false" >
            <mat-list-option value="1">
              Excluded Accounts
            </mat-list-option>
            <mat-list-option value="2" selected>
              Included Accounts
            </mat-list-option>
            <mat-list-option value="3">
              Included & Excluded
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="wd18">
          <mat-selection-list #shoes [multiple]="true">
            <mat-list-option *ngFor="let opt of opts" [value]="opt.value">
              {{opt.label}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="wd11">
          <mat-selection-list #shoes [multiple]="true" >
            <mat-list-option *ngFor="let opt of optsTwo" [value]="opt.value" [selected]="opt.value===0">
              {{opt.label}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="wd11">
          <mat-selection-list #shoes [multiple]="true">
            <mat-list-option *ngFor="let opt of optsThree" [value]="opt.value">
              {{opt.label}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="wd20">
          <mat-form-field appearance="outline">
            <mat-select  name="env" required  [(value)]="selectedYear">
              <mat-option *ngFor="let year of yearList" [value]="year.value">
                {{year.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox class="chkboxMrg5" value="1" [checked]=true>Final</mat-checkbox>
          <mat-checkbox class="chkboxMrg5" value="2" [checked]=true>Live</mat-checkbox>
          <mat-checkbox class="chkboxMrg5" value="3">Wr-Off</mat-checkbox>
      
        
        
        </div>
        <div class="wd20">
          <mat-selection-list #shoes [multiple]="true">
            <mat-list-option *ngFor="let seg of segmentList" [value]="seg.value">
              {{seg.label}}
            </mat-list-option>
          </mat-selection-list>
          </div>
        </div>
           
          </mat-card>
          </mat-expansion-panel>
          
          <div class="text-center">
            <button mat-raised-button type="submit" class="proceedBtn mrg20">Run</button>
                <button mat-raised-button type="reset" class="helpBtn mrg20">Reset</button>
                
              </div>
          </div>