/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #4ec1e3; }

.text-center{
text-align: center;
}

.proceedBtn{
    background-color: rgb(61, 201, 61);
}

.cancelBtn{
    background-color: rgb(250, 54, 54);
}

.helpBtn{
    background-color:#469cd9;
}

.md10{
 margin-left:12% !important;   
}

.wd80{
    width:80%
}

.mat-tab-group.mat-background-accent>.mat-tab-header, 
.mat-tab-group.mat-background-accent>.mat-tab-link-container, 
.mat-tab-group.mat-background-accent>.mat-tab-header-pagination, 
.mat-tab-nav-bar.mat-background-accent>.mat-tab-header, 
.mat-tab-nav-bar.mat-background-accent>.mat-tab-link-container, 
.mat-tab-nav-bar.mat-background-accent>.mat-tab-header-pagination
{
    background-color: #4ec1e3;
    margin-bottom:10px;
}

/* .spacing{
    margin-bottom:10px;
    background-color:#469cd9;
    color:white;
} */

.spacing{
    margin-bottom:10px;
    background-color:white;
    color:#469cd9;
}

.full-width{
    width:100%;
}

.wd20{
width:20%;
}

.wd11{
    width:11%;
    }

.wd18{
    width:18%;
    }

.chkboxMrg5{
    margin:5px;
}    

mat-radio-button{
    margin:10px;
}

.mrg20{
    margin:20px !important;
}

    mat-sidenav{
        margin-left:16px;
        width:220px;
        background-color:#0e5fa1 !important;
        color:white !important;
        padding:16px;
        text-align: center;
        border-radius: 5px;

    }

.menu-button{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}    

.bootstrap-wrapper{
    background-color: #4ec1e3;
}

mat-sidenav-container{
    background-color: #4ec1e3  !important;
    height: 600px;
}

mat-divider{
    background-color: grey;
}

.hdDiv{
    right: 5px;
    font-size: 14px;
    vertical-align: middle;
    margin-left:27%;
}

mat-toolbar{
    height:75px !important;
}