<div class="bootstrap-wrapper">
    <div class="container col-xl-11 ">
        <div class="row">
            <mat-card>
            <app-menubar></app-menubar>
        
            
                
                    <mat-tab-group animationDuration="0ms" backgroundColor="accent">
                        <mat-tab label="Customer"><app-customertab></app-customertab></mat-tab>
                        <mat-tab label="ACNA"><app-acnatab></app-acnatab></mat-tab>
                        <mat-tab label="AECN"><app-aecntab></app-aecntab></mat-tab>
                        <mat-tab label="OCN"><app-ocntab></app-ocntab></mat-tab>
                        <mat-tab label="CTC"><app-ctctab></app-ctctab></mat-tab>
                        <mat-tab label="Acct Nbr/ CABS Inv">This is left blank</mat-tab>
                        <mat-tab label="Bill Name"><app-billtab></app-billtab></mat-tab>

                      </mat-tab-group>
                </mat-card>
            </div>
        </div>
    </div>